body {
	text-align: center;
	font-family: serif;
	background: indianred;
}

article {
	color: lightyellow;
}

h1, h2, h3 {
	background: darkred;
	color: lightyellow;
}

footer {
	background: lightyellow;
}

nav {
	text-align: center;
}

.parrafo {
	color: lightyellow;
}